[submodule "resources/codiesp-evaluation-script"]
	path = resources/codiesp-evaluation-script
	url = https://github.com/TeMU-BSC/codiesp-evaluation-script.git
[submodule "resources/cantemist-evaluation-library"]
	path = resources/cantemist-evaluation-library
	url = https://github.com/TeMU-BSC/cantemist-evaluation-library.git
